<div class="jumbotron">
  <div class="container">
    <h2 style="color:#ffffff !important"><%= if @section then @section.title else 'On to Apprenticeship' end %></h2>
	  <h5><em>'A Software Craftsman will do yadah yadah'</em></h5>
  </div>
</div>