<h4>What is...</h4>
<h5><em>1.- a Software Craftsman?</em></h5>
<small>
	Say you have an idea for an app. A software craftsman is the guy who will help you transform this idea into a set of specifications, quickly coming up with a minimally functional prototype for you to play with. Work so you both can adapt to evolving requirements. And deliver a product that is functional, elegant, scalable and maintainable.
</small>
<p></p>
<h5><em>2.- the evidence that I can</em></h5>
<h5><em>complete this training program?</em></h5>
<small>
	I started coding last summer, and there hasn't been a day I haven't done at least a little reading or practice, toward the ultimate goal of becoming good at this some day. The little knowledge I have I am already putting to use in the real world. It's not the first time I've had to shift gears and change my line of work. I'm used to motivating myself, working under pressure, or until late, or with clients.
</small>